body {
    background-color: white;
  }
  .heroImage {
    background-image: url("../images/apple-pie.jpg");
    background-size: 100vw;
    height: 70vh;
    }
    .centerText{
        font-family: 'Proxima Nova Regular';
        font-size: 3vh;
        color: white;
        text-align: center;
        padding: 25vh;
    }
    .centerInfo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50vh;
    }
    .paragrafo1{
                font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8vh;
        margin-left: 7vw;
        margin-right: 7vw;
        text-align: justify;
    }
    .lista1 ul {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8vh;
        margin-left: 7vw;
        margin-right: 7vw;
        text-align: justify;
        list-style-type: none;
        }
    .lista1 ul li:before{
        content: "- ";
        text-indent: -1.5em;
    }
    .lista2 ol{
        counter-reset: list;
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8vh;
        margin-left: 7vw;
        margin-right: 7vw;
        text-align: justify;
        }
    .lista2 ol li {
        list-style: none;
        position: relative;
        font-size: 1.8vh;
        margin-bottom: .5em;
        margin-top: .4em;
    }
    
    .lista2 ol li:before {
        counter-increment: list;
        content: counter(list, decimal) ") ";
        position: relative;

    }
    .subtitulo{
        border-top: 2px solid gray;
        margin-right: 7vw;
        font-family: 'Proxima Nova Regular';
        font-size: 1.8vh; 
        text-align: left;
        margin-left: 7vw;
    }

    .barra{

    }